$google_green: #0F9D58;
$green_secondary: #59D574;
$google_red: #DB4437;
$google_yellow: #F4B400;
$google_blue: #4285F4;
$blue_secondary: #9ec2ff;
$grayColor : #999;
$sidebarbg : #000;
$primaryHighlight: $google_blue;
$lightbrown : #bb977d;
$anchorColor: #BD194B;
$secondaryHighlight : $blue_secondary;

$triadic_blue: #5e4aab;
$complementary_color: #ab4a97;
$tetradic_yellow: #97ab4a;