extends partial/layout

block container
  include mixins/widget
  +picbar()
  section.index-content(class="#{ page.name }")
    include mixins/widget
    +catebar()
    +tagbar()
    include mixins/post
    +posts()
    include mixins/paginator
    +home()

block scripts
  script(type="text/javascript").
    getLocation()
    randomTags("")
    getPageViewCount()
