extends partial/layout

block container
  include mixins/widget
  if pname == "blog" || pname == "post"
    +picbar()
  section.page-content(class="#{ pname }")
    != page.content.replace(/<br>/g,'')

block scripts
  script(type="text/javascript").
    getLocation()
  if page.function == "log-analyse"
    script(type="text/javascript").
      getGALogFile()
  if pname == "timeline"
    script(src='https://technotarek.com/timeliner/js/vendor/venobox/venobox.min.js')
    script(type="text/javascript").
      $(document).ready(function() {
        new Timeline();
        $.timeliner({});
        $('.venobox').venobox();
      });


