extends partial/layout

block container
  include mixins/widget
  if pname == "blog" || pname == "post"
    +picbar()
  section.page-content(class="#{ pname }")
    != page.content.replace(/<br>/g,'')

block scripts
  if pname == "blog" || pname == "post"
    script(type="text/javascript").
      getLocation()
      randomImage()
  if page.function == "log-analyse"
    script(type="text/javascript").
      getGALogFile()


