extends partial/layout

block container
  div.stars
  div.twinkling
  article#content
    div#progressbar
      span.bg
    include mixins/post
    +post(page)
    include mixins/widget
    +searchbox()
    +series()
    +related()
    +recent()
    include mixins/paginator
    +post()
    include partial/comment

block scripts
  script(src=url_for("js/post.js"))
  if page.encrypt
    script(src=url_for("js/aes.js"))
    script(type="text/javascript").
      passwordNeeded()

