extends partial/layout

block container
  div.stars
  div.twinkling
  div#progress-bar.hidden
    span.bg
 
  article#content
    div.main
      include mixins/post
      +post(page)
      include mixins/widget
      div.widgets
        +catalog()
        +searchbox()
        +series()
        +related()
        +recent()
    include partial/comment

block scripts
  script(src=url_for("js/post.js"))