extends partial/layout

block container
  article#content
    include mixins/post
    +post(page)
    include mixins/widget
    +searchbox()
    +related()
    +recent()
    include mixins/paginator
    +post()
    include partial/comment

block scripts
  script(src=url_for("js/post.js"))
  if page.pname == "tipme"
    script(type="text/javascript").
      showMyWishBooks()
