extends partial/layout

block container
  include mixins/widget
  +picbar()
  section.page-content(class="#{ page.pname }")
    include mixins/widget
    +catebar()
    include mixins/post
    +posts()
    include mixins/paginator
    +home()

block scripts
  script(type="text/javascript").
    getLocation()
    getPageViewCount()
