doctype html
html(lang=config.language)
  head
    include head
  - var pname = page.pname || "post"
  - if(is_home()||is_tag()||is_category()){pname = "blog"}
  body(class="#{pname}")
    include navbar
    block container
    .notification.fail.hidden
    include scripts
    block scripts
