aside.aside
  div.transparent
  i.reloadimage.fa.fa-refresh.fa-1x
  div.location
    span
    a.location-icon(href='javascript:customLocation()')
      i.fa.fa-location-arrow.fa-1x
      form(action="javascript:updateLocation()")
        input#cLocation(placeholder="输入城市拼音或英文")
  h2.weather-cn
    span
  h3.weather-en
    span
